.navigation {
  text-align: center;
}
.footer {
  text-align: center;
}

/***************************
These are the styles for
the index page
****************************/

.grid-contents a:link {
text-decoration: none;
color: grey;
}
.grid-contents a:hover {
  color: black;
}

/***************************
These are the styles for
the blog pages
***************************/

