body {
  background:white;
  font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.main-header {
position: relative;
text-align: center;
filter: grayscale(70%);
}
.block {
  
}
.block-text {
overflow: auto;
}
h1 {color:#444;}
h2, p, li {color: teal;
}
h3 {
color:white;
background-color:teal;
padding: 10px;
}

