body {
  font-family: sans-serif;
}
.header {
  text-align: center;
}

.header > p {
  font-weight: bold;
}

.nav {
  background-color: #f9d1e9;
  color: #FFFFFF;
  list-style: none;
  text-align: center;
  font-weight: bold;
  padding: 20px 0 20px 0
}

.nav li {
  display: inline-block;
  padding-right: 50px;
}

.nav > li > a {
  text-decoration: none;
  color: #FFFFFF;
}

.nav > li > a:hover {
  color: teal;
}

h1, h2 {
  color: #999;
}
h3 {
  color: teal;
}
p {
  color: #646362;
}

a {
  color: #F28445;
}

img {
  align-self: center;
  border-radius: 15px;
  corner-shape: bevel;
}

.footer {


}
